{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Mes dessins</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/dessins.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/dessins.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
</head>
<body>
	<section class="my-work" id="work">
		<h2 class="section__title section__title--work">Mes dessins</h2>
		<p class="section__subtitle section__subtitle--work">Vous pouvez me dire ce que vous en pensez, <a href="/#contact" class="contact">ici</a></p>

		<div class="portfolio">
			<div class="portfolio__item">
				<img src="../static/img/dessins/d1.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d2.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d16.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d17.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d6.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d7.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d8.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d9.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d12.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d15.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d10.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d18.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d5.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d11.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d13.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d14.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d19.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d20.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d3.png" alt="" class="portfolio__img">
			</div>
			<div class="portfolio__item">
				<img src="../static/img/dessins/d4.png" alt="" class="portfolio__img">
			</div>
		</div>
		<a href="/" class="retour">Retour</a>
	</section>
</body>
</html>